<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h1>Editing Group</h1>

      <%= render 'form', cohort: @cohort %>
      <div class="mt-3 ml-3">
        <%= link_to 'Back', cohorts_path %>
      </div>
    </div>
  </div>
</div>
