<div class="container full-height">
  <div class="row justify-content-center full-height">
    <div class="col-12 col-lg-8">
      <h1 class="d-flex justify-content-center">Editing
      <i class="highlighted highlighted-transport"> Group</i>
    </h1>
      <%= render 'form', cohort: @cohort %>
    </div>
  </div>
</div>
