<div class="form-container-y container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card-form-y">
        <div class="d-flex justify-content-center">
          <h1 class="title">Create
            <i class="highlighted highlighted-transport">a group</i>
          </h1>
        </div>
          <%= render 'form', cohort: @cohort %>
        <div class="mt-4 d-flex justify-content-center">
          <%= link_to cohorts_path, class: "btn-outline" do %>
          <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>
      </div>
  </div>
</div>
</div>

