<div class="form-container-y container form-container-y">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card-form-y p-4">
        <h2 class="title"> Create<i class="highlighted highlighted-transport"> a group </i></h2>
          <%= render 'form', cohort: @cohort %>
        <div class="mt-4 d-flex justify-content-center">
          <%= link_to cohorts_path, class: "btn-outline" do %>
          <i class="fas fa-arrow-left"></i>
          <% end %>
        </div>
      </div>
  </div>
</div>

