<div class="form-container-y container form-container-y">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <div class="card-form-y p-4">
        <h2 class="title"> Create a group </h2>
          <%= render 'form', cohort: @cohort %>
        <div class="mt-4">
          <%= link_to "Back to groups", cohorts_path, class: "btn-outline btn-sm"  %>
          <%= link_to "Back to menu", root_path, class: "btn-outline btn-sm"  %>
        </div>
      </div>
    </div>
  </div>
</div>
