.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}

.btn-my-groups {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search {
  position: relative;
  .btn-main {
    position: absolute;
    background: transparent!important;
    top: 0;
    right: 0;
    height: 100%;
  i {
    color: #6C757D;
  }
  }
}

.container-y {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
}

#map {
  border-radius: 15px;
  margin-bottom: 5px;
}

