<div class="container">

<!-- banner -->
  <div class="banner">
    <div class="container">
      <h1> <strong>PapeL</strong></h1>
      <a class="btn btn-flat" href="#">Try now!</a>
    </div>
  </div>


  <div class="title">
    <h1>Why choose us?</h1>
  </div>

<!-- Arguments -->

<div class="arguments">
  <div class="icon">
    <img src="https://static.thenounproject.com/png/409656-200.png" alt="...">
    <div class="arg-description">
      <h5>Eco-friendly</h5>
      <p>Make your recepits useful again.</p>
    </div>
  </div>

  <div class="icon">
    <img src="https://cdn1.iconfinder.com/data/icons/essential-21/128/Love-512.png" alt="...">
    <div class="arg-description">
      <h5>Friendly</h5>
      <p>Create groups to share your recepits.</p>
    </div>
  </div>

  <div class="icon">
    <img src="https://static.thenounproject.com/png/37120-200.png" alt="...">
    <div class="arg-description">
      <h5>Manage</h5>
      <p>Manage your money like a pro.</p>
    </div>
  </div>
</div>

<!-- Features -->

  <div class="features">
    <div class="feature">
      <div class="feature-body">
        <h5 class="fearture-title">Killer feature</h5>
        <p class="feature-text">about the killer feature</p>
        <a href="#" class="button">Use me</a>
      </div>
    </div>
  </div>

  <div class="features pt-5 pb-5">
    <div class="feature">
      <div class="feature-body">
        <h5 class="fearture-title">Feature 1</h5>
        <p class="feature-text">about the feature 1</p>
        <a href="#" class="button">Use me</a>
      </div>
    </div>
  </div>

  <div class="features pt-4 pb-4">
    <div class="feature">
      <div class="feature-body">
        <h5 class="fearture-title">Feature 2</h5>
        <p class="feature-text">about the feature 2</p>
        <a href="#" class="button">Use me</a>
      </div>
    </div>
  </div>

<div class="title">
  <h1> Our customers love it!</h1>
</div>

</div>




