
<div class="banner">
  <section>
    <div class="wave-background">
      <div class="text-banner">
        <h1>PapeL</h1>
        <h3>Make your receipts usefull again!</h3>
        <div class="btn-container-y">
          <%= link_to "Try now", new_receipt_path, class: "btn-main ml-5" %>
        </div>
      </div>
      <div class="middle">
    <div class="mouse">
    </div>
  </div>
    </div>
    <div class="wave wave1"></div>
  </section>
</div>


