<div class="container">
  <br>
  <br>
<h1> Ceci sera notre
  <i class="highlighted highlighted-transport">H1</i>
</h1>

<h1> Ceci sera notre
  <i class="highlighted highlighted-shopping">H1</i>
</h1>

<h1> Ceci sera notre
  <i class="highlighted highlighted-food">H1</i>
</h1>

<h1> Ceci sera notre
  <i class="highlighted highlighted-vacation">H1</i>
</h1>
<h2>Ceci est un H2</h2>
  <p>Ceci est un paragraphe</p>
<a class="btn-main" href="#">Main button</a>
<a class="btn-outline" href="#">Outline</a>


</div>



