.arguments {
  justify-content: space-between;
  align: center;
  margin: 40px;
  display: flex;
}
.icon {
  img {
    height: 200px;
    width: 200px;
  }
}

.arg-description {
  text-align: center;
}

