.banner {
  background-color: #EEF7FE;
  padding: 150px 0;
}

.banner h1 {
  color: #3e3e3e;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn-main-banner {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  background: #F26766;
  transition: background 0.3s ease;
}

.btn-main-banner:hover {
  background: #D83E3E;
  color: white;
  text-decoration: none;
}
