.card-category {

}

.card-feature {

}

.card-review {

}

.card-list-ticket {
  height: 70px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  align-items: center;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.receipt-content {
  flex-grow: 1;
  padding: 0 24px;
  display: flex;
  align-items: center;
}

.card-ticket {

}

.card-group {

}
