.card-category {

}

.card-feature {

}

.card-review {

}

.card-list-ticket {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12);
  border-radius: 15px;

  p {
    margin: 0;
    line-height: 1.4;
  }

  a:hover {
    text-decoration: none;
  }

  small {
    color: #999999;
    font-weight: bold;
  }

  .card-list-content {
    flex-grow: 1;
    padding: 0 24px;
  }
}




.card-ticket {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  height: 165px;
  padding: 10px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,0.12);
  position: relative;

    #amount {
      position: absolute;
      top: 50px;
      right: 20px;
      font-size: 1.75rem;
    }
    .card-ticket-icons {
      position: absolute;
      bottom: 5px;
      right: 15px;
      i {
        color: #F26766;
      }
      i:hover {
        color: #D83E3E;
      }
      a:hover {
        text-decoration: none;
      }
    }

    .card-ticket-text {
      position: absolute;
      top: 50px;
    }

    #card-ticket-date {
      color: #99A7B0;
      font-size: 8px;
      position: absolute;
      top: 32px;
    }

    #card-ticket-desc {
      // position: absolute;
      padding-top: 15px;
    }
}

.card-group {

}

.card-user-x {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .card-user-infos {
    padding: 16px;
  }
}
