.topnav {
    background-color: white;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #3F3535;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #3F3535;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
