<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <h1>Update receipt:</h1>

      <%= render 'form', receipt: @receipt %>
    </div>
  </div>
</div>
