<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-post">
        <h1>New receipt</h1>
        <!-- TODO: (1)
              - ajouter un formulaire d'upload d'image
              - rediriger vers l'action read_receipt
        -->
        <!-- TODO: (9) pre-remplir le formulaire avec les params récupérés -->
        <%= render 'form', receipt: @receipt %>

      </div>
    </div>
  </div>
</div>

